<nav class="navbar navbar-dark bg-dark">
    <span class="navbar-brand mb-0 h1">Parcel Delivery Service </span>

    <div class="rounded-lg"> 
        <button routerLink="/registparcel" type="button" class="btn btn-dark">Register</button>
        <button routerLink="/payment" type="button" class="btn btn-dark">Payment</button>
        <button routerLink="/assignment" type="button" class="btn btn-dark">Assignment</button>
        <button routerLink="/trackpackage" type="button" class="btn btn-dark">Tracking</button>
        <button  type="button" class="btn " (click)="signOut()"> <i class="fa fa-sign-out text-white " aria-hidden="true" ></i> </button>
    </div>
    
</nav>

<router-outlet></router-outlet>