
<div class="container login-container">
    <br><br>
    <div class="row">
        <div class="col-md-6 login-form-1">
        
            <h3>Login</h3>

            <h5 class="text-center">Parcel Delivery System</h5>
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Your Username *" value="" />
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Your Password *" value="" />
                </div>
                <div class="form-group">
                    <a href="#" class="ForgetPwd" value="Login">Do you have a password ?</a>
                </div>

                <div class="text-center">
                    <input type="submit" class="btnSubmit" value="Login" />
                </div>
            </form>
        </div>
        <div class="col-md-6 login-form-2">
            <br><br><br><br><br>
            <h3> You don't have a password ?</h3>

<br>
                <div class="text-center">
                    <button type="button" class="btn  btnSubmit" data-toggle="modal"
                    data-target="#staticBackdrop" >
                  Sign Up
                </button>
                </div>
  
                    <div class="modal fade" id="staticBackdrop" data-backdrop="static"
                    data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">

                            <div class="media">
                                <div class="modal-body">
<br>
                               <h2 class="text-dark text-center">Sign Up</h2>
                                    <form>
                                    <div class="row">
                                        <div class="col">
                                            <input type="text" class="form-control" placeholder="Username">
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col">
                                            <input type="text" class="form-control" placeholder="First name">
                                        </div>
                                        <div class="col">
                                            <input type="text" class="form-control" placeholder="Last name">
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col">
                                            <input type="text" class="form-control" placeholder="Email">
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col">
                                            <input type="text" class="form-control" placeholder="Password">
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col">
                                            <input type="text" class="form-control" placeholder="Confirm Password">
                                        </div>
                                    </div>
                                  
                                    
                                </form>

                                <div class="text-center modal-footer" >
                                    <button type="submit" class="btn btn-success"  >Sign Up</button>
                                    <button type="button" class="btn btn-secondary-text"
                                    data-dismiss="modal">Close</button>
                                </div> 

                                </div>
                            </div>

       
                        </div>
                    </div>
                </div>

        </div>
    </div>
</div>



