<nav class="navbar navbar-dark bg-dark">
    <span class="navbar-brand mb-0 h1">Parcel Delivery System</span>

    <div class="rounded-lg"> 
        <button  type="button" class="btn " (click)="signOut()"> <i class="fa fa-sign-out text-white " aria-hidden="true" ></i> </button>
    </div>
    
</nav>
<div class="card text-center">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
    <br>    
    <h4>Pending approval to use the system</h4>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>

